<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
  <h1 class="text-center text-white display-6">Cart</h1>
  <ol class="breadcrumb justify-content-center mb-0">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Pages</a></li>
    <li class="breadcrumb-item active text-white">Cart</li>
  </ol>
</div>
<!-- Single Page Header End -->

<app-title title="Cart Page" margin="1.5rem 0 0 2.5rem"></app-title>
<app-not-found
  [visible]="!cart || !cart.items.length"
  notFoundMessage="Cart Page Is Empty!"
  resetLinkText="Go To Homepage"
></app-not-found>
<div class="container-fluid py-5">
  <div class="container py-5">
    <div *ngIf="cart && cart.items.length" class="container">
      <ul>
        <li *ngFor="let cartItem of cart.items">
          <div>
            <img [src]="cartItem.food.imageUrl" [alt]="cartItem.food.name" />
          </div>
          <div>
            <a routerLink="/food/{{ cartItem.food.id }}">
              {{ cartItem.food.name }}
            </a>
          </div>
          <div>
            <select
              #quantitySelect
              [value]="cartItem.quantity"
              (change)="changeQuantity(cartItem, quantitySelect.value)"
            >
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div>
            {{ cartItem.price | currency }}
          </div>

          <div>
            <button class="remove-button" (click)="removeFromCart(cartItem)">
              Remove
            </button>
          </div>
        </li>
      </ul>

      <div class="mt-5">
        <input
          type="text"
          class="border-0 border-bottom rounded me-5 py-3 mb-4"
          placeholder="Coupon Code"
        />
        <button
          class="btn border-secondary rounded-pill px-4 py-3 text-primary"
          type="button"
        >
          Apply Coupon
        </button>
      </div>

      <div class="row g-4 justify-content-end">
        <div class="col-8"></div>
        <div class="col-sm-8 col-md-7 col-lg-6 col-xl-4">
          <div class="bg-light rounded">
            <div class="p-4">
              <h1 class="display-6 mb-4">
                Cart <span class="fw-normal">Total</span>
              </h1>
              <div class="d-flex justify-content-between mb-4">
                <h5 class="mb-0 me-4">Subtotal:</h5>
                <p class="mb-0">{{ cart.totalCount }}</p>
              </div>
              <div class="d-flex justify-content-between">
                <h5 class="mb-0 me-4">Shipping</h5>
                <div class="">
                  <p class="mb-0">Flat rate: $3.00</p>
                </div>
              </div>
              <p class="mb-0 text-end">Shipping to Ukraine.</p>
            </div>
            <div
              class="py-4 mb-4 border-top border-bottom d-flex justify-content-between"
            >
              <h5 class="mb-0 ps-4 me-4">Total</h5>
              <p class="mb-0 pe-4">{{ cart.totalPrice | currency }}</p>
            </div>
            <button routerLink="/checkout"
              class="btn border-secondary rounded-pill px-4 py-3 text-primary text-uppercase mb-4 ms-4"
              type="button"
            >
              Proceed Checkout
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Cart Page End -->
  <!-- <div class="checkout">
    <div>
      <div class="foods-count">{{ cart.totalCount }}</div>
      <div class="total-price">{{ cart.totalPrice | currency }}</div>
    </div>

    <a routerLink="/checkout">Proceed to Checkout</a>
  </div> -->
</div>
